/* Style global */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #ff914d;
}

h2 {
  text-align: center;
  color: #333;
  margin: 80px 0;
  font-size: 250%;
}

/* Style des bannières */
#banniere-bordure {
  width: 100%;
  height: 50px;
  background-color: #000000; /* Orange foncé */
  border-bottom: 2px solid #333;
}

#banniere-titre {
  width: 80%;
  max-width: 500px;
  padding: 10px 0;
  margin-top: 40px;
}

form {
  width: 80%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff914d;
}