/* Style global */
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../Png/dashboard.png");
  background-size: cover;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin: 30px 0;
  font-size: 250%;
}

form {
  width: 80%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #6283b1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #aba9a8;
}