<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/CSS/global.css">
  <link rel="stylesheet" href="public/CSS/dashboard.css">
  <title>LOGICIEL</title>
</head>
<body>

  <div id="banniere-bordure">
    <h2>Dashboard</h2> <!-- Titre dans la bannière -->
  </div>

  <div>
    <form method="POST">
        <div class="container">
            <div class="row">
                <a href="Hardware">MATERIELS</a>
                <a href="Software">LOGICIELS</a>
            </div>
            <div class="row">
                <a href="Software">UTILISATEUR</a>
                <a href="Login/Logout">DECONNEXION</a>
            </div>
        </div>
    </form>
</div>

  <!-- Lien vers le fichier JavaScript -->
  <script src="script.js"></script>
</body>
</html>